<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% for printer in printers %}
{{printer}}
<div class="relative pt-1">
  <div class="flex mb-2 items-center justify-between">
    <div>
      <span
        id="{{printer}}-status"
        class="
          text-xs
          font-semibold
          inline-block
          py-1
          px-2
          uppercase
          rounded-full
          text-purple-600
          bg-purple-200
        "
      >
        unknown
      </span>
    </div>
  </div>
  <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-purple-200">
    <div
      id="{{printer}}-bar"
      class="
        shadow-none
        flex flex-col
        text-center
        whitespace-nowrap
        text-white
        justify-center
        bg-purple-500
        w-0
      "
    >
    </div>
  </div>
  <div class="text-left">
    <span
      id="{{printer}}-time-rem"
      class="text-xs font-semibold inline-block text-purple-600">
      0 minutes remaining
    </span>
  </div>
</div>
{% endfor %}
<script>
    let responses = {{ responses|tojson }};
    console.log(responses);
    printers = Object.keys(responses);
    document.addEventListener("DOMContentLoaded", function(){
        console.log(printers);
        printers.forEach(function(element) {
            console.log(element)
            let bar = document.getElementById(element + '-bar');
            let status = document.getElementById(element + '-status');
            bar.classList.remove('w-0');
            response = responses[element];
            console.log(response.progress.printTimeLeft);
            bar.style.width = parseInt(response.progress.printTimeLeft)/216 + "%";
            status.textContent = response.state;
        });
    });
</script>
</body>
</html>
